version: "3.9"
services:
  loan-frontend-v1:
    build:
      context: ./frontend
      dockerfile: dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    ports:
      - "5173:80"
    env_file:
      - ./frontend/.env
    volumes: []
    environment:
      - NODE_ENV=production

  loan-backend-v1:
    build:
      context: ./backend
      dockerfile: dockerfile
    ports:
      - "1337:1337"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production
