version: "3.9"

services:
  loan-frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - "5173:80"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production
  loan-backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    ports:
      - "1337:1337"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production
